@model Concesionaria.Models.Vendedor

@{
    ViewData["Title"] = "Excluir Vendedor";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<hr />

<h4>Tem certeza que deseja excluir o registro desse vendedor?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DataAdmissao)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DataAdmissao)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Matricula)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Matricula)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Salario)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Salario)</dd>
    </dl>

    <form asp-action="Delete" method="post" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>
